<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_fragments/layout :: layout(~{::section})}">
<head></head>
<body>
<section>
  <h2>Presentación del equipo</h2>
  <p><strong>Nombre del equipo:</strong> Lorem Ipsum Team</p>
  <h3>Integrantes</h3>
  <ul>
    <li>Nombre 1 — Rol (líder técnico) — Lenguajes: Java, JS — Perfil: Lorem ipsum…</li>
    <li>Nombre 2 — Rol (líder planeación) — Lenguajes: Java, Python — Perfil: Lorem ipsum…</li>
    <li>Nombre 3 — Rol (líder de pruebas) — Lenguajes: JS, TS — Perfil: Lorem ipsum…</li>
  </ul>
</section>
</body>
</html>
