<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_fragments/layout :: layout(~{::section})}">
<head></head>
<body>
<section>
  <h2>Requerimientos</h2>

  <h3>Funcionales</h3>
  <ul>
    <li>Lorem ipsum funcional 1…</li>
    <li>Lorem ipsum funcional 2…</li>
    <li>Lorem ipsum funcional 3…</li>
  </ul>

  <h3>No funcionales</h3>
  <ul>
    <li>Rendimiento esperado: Lorem ipsum…</li>
    <li>Seguridad: Lorem ipsum…</li>
    <li>Mantenibilidad: Lorem ipsum…</li>
  </ul>
</section>
</body>
</html>
